/* BASE TOKENS */

:root {
  /* Color styles */
  --white--100: rgba(255, 255, 255, 1);
  --white--200: rgba(254, 254, 254, 1);
  --white--300: rgba(253, 253, 253, 1);
  --white--400: rgba(251, 251, 251, 1);
  --white--500: rgba(250, 250, 250, 1);
  --white--600: rgba(240, 240, 240, 1);
  --white--700: rgba(230, 230, 230, 1);
  --white--800: rgba(219, 219, 219, 1);
  --white--900: rgba(209, 209, 209, 1);
  --black--100: rgba(252, 252, 252, 1);
  --black--200: rgba(242, 242, 242, 1);
  --black--300: rgba(217, 217, 217, 1);
  --black--400: rgba(191, 191, 191, 1);
  --black--500: rgba(143, 143, 143, 1);
  --black--600: rgba(107, 107, 107, 1);
  --black--700: rgba(72, 72, 72, 1);
  --black--800: rgba(36, 36, 36, 1);
  --black--900: rgba(0, 0, 0, 1);
  --primary--100: rgba(250, 253, 254, 1);
  --primary--200: rgba(240, 248, 254, 1);
  --primary--300: rgba(231, 243, 254, 1);
  --primary--400: rgba(217, 236, 253, 1);
  --primary--500: rgba(194, 224, 250, 1);
  --primary--600: rgba(154, 209, 254, 1);
  --primary--700: rgba(128, 197, 254, 1);
  --primary--800: rgba(77, 174, 254, 1);
  --primary--900: rgba(36, 145, 235, 1);
  --denim--100: rgba(250, 252, 255, 1);
  --denim--200: rgba(232, 241, 252, 1);
  --denim--300: rgba(122, 171, 236, 1);
  --denim--400: rgba(68, 136, 226, 1);
  --denim--500: rgba(13, 101, 217, 1);
  --denim--600: rgba(11, 86, 184, 1);
  --denim--700: rgba(8, 70, 152, 1);
  --denim--800: rgba(6, 55, 119, 1);
  --denim--900: rgba(3, 39, 86, 1);
  --success--100: rgba(251, 254, 253, 1);
  --success--200: rgba(236, 249, 244, 1);
  --success--300: rgba(139, 216, 187, 1);
  --success--400: rgba(83, 196, 153, 1);
  --success--500: rgba(27, 177, 120, 1);
  --success--600: rgba(24, 155, 105, 1);
  --success--700: rgba(20, 133, 90, 1);
  --success--800: rgba(17, 111, 75, 1);
  --success--900: rgba(13, 89, 60, 1);
  --caution--100: rgba(255, 252, 250, 1);
  --caution--200: rgba(253, 242, 232, 1);
  --caution--300: rgba(243, 182, 125, 1);
  --caution--400: rgba(236, 146, 63, 1);
  --caution--500: rgba(230, 111, 0, 1);
  --caution--600: rgba(211, 102, 0, 1);
  --caution--700: rgba(192, 93, 0, 1);
  --caution--800: rgba(172, 83, 0, 1);
  --caution--900: rgba(153, 74, 0, 1);
  --error--100: rgba(254, 251, 251, 1);
  --error--200: rgba(251, 234, 237, 1);
  --error--300: rgba(234, 147, 162, 1);
  --error--400: rgba(224, 95, 118, 1);
  --error--500: rgba(214, 43, 73, 1);
  --error--600: rgba(193, 38, 66, 1);
  --error--700: rgba(172, 34, 59, 1);
  --error--800: rgba(150, 29, 51, 1);
  --error--900: rgba(129, 24, 44, 1);
  --lemon--100: rgba(255, 254, 250, 1);
  --lemon--200: rgba(254, 250, 230, 1);
  --lemon--300: rgba(250, 230, 130, 1);
  --lemon--400: rgba(248, 218, 70, 1);
  --lemon--500: rgba(245, 206, 10, 1);
  --lemon--600: rgba(221, 185, 9, 1);
  --lemon--700: rgba(196, 165, 8, 1);
  --lemon--800: rgba(172, 144, 7, 1);
  --lemon--900: rgba(147, 123, 6, 1);
  --turquoise--100: rgba(251, 254, 254, 1);
  --turquoise--200: rgba(236, 249, 248, 1);
  --turquoise--300: rgba(157, 224, 220, 1);
  --turquoise--400: rgba(109, 208, 203, 1);
  --turquoise--500: rgba(62, 193, 186, 1);
  --turquoise--600: rgba(56, 174, 168, 1);
  --turquoise--700: rgba(50, 155, 149, 1);
  --turquoise--800: rgba(43, 135, 131, 1);
  --turquoise--900: rgba(37, 116, 112, 1);
  --dragon-fruit--100: rgba(254, 251, 253, 1);
  --dragon-fruit--200: rgba(249, 236, 245, 1);
  --dragon-fruit--300: rgba(222, 159, 208, 1);
  --dragon-fruit--400: rgba(205, 112, 185, 1);
  --dragon-fruit--500: rgba(189, 66, 162, 1);
  --dragon-fruit--600: rgba(170, 60, 146, 1);
  --dragon-fruit--700: rgba(151, 53, 130, 1);
  --dragon-fruit--800: rgba(132, 47, 113, 1);
  --dragon-fruit--900: rgba(113, 40, 97, 1);
  --grape--100: rgba(251, 251, 254, 1);
  --grape--200: rgba(237, 234, 251, 1);
  --grape--300: rgba(164, 147, 233, 1);
  --grape--400: rgba(121, 95, 223, 1);
  --grape--500: rgba(77, 43, 212, 1);
  --grape--600: rgba(69, 39, 191, 1);
  --grape--700: rgba(62, 35, 170, 1);
  --grape--800: rgba(54, 30, 148, 1);
  --grape--900: rgba(46, 26, 127, 1);

  /*/* Text-size styles */
  /* base size: roboto--16px--regular (16px) */
  --roboto--90px--regular: 5.62rem;
  --roboto--64px--regular: 4rem;
  --roboto--12px--regular: 0.75rem;
  --roboto--44px--regular: 2.75rem;
  --roboto--32px--regular: 2rem;
  --roboto--18px--regular: 1.12rem;
  --roboto--16px--regular: 1rem;
  --roboto--24px--regular: 1.5rem;
  --roboto--12px--regular: 0.62rem;
  --roboto--8px--regular: 0.5rem;
  --roboto--14px--regular: 0.88rem;
  --roboto--14px--medium: 0.88rem;
  --roboto--18px--medium: 1.12rem;
  --roboto--90px--medium: 5.62rem;
  --roboto--10px--medium: 0.62rem;
  --roboto--64px--medium: 4rem;
  --roboto--24px--medium: 1.5rem;
  --roboto--16px--medium: 1rem;
  --roboto--44px--medium: 2.75rem;
  --roboto--32px--medium: 2rem;
  --roboto--12px--medium: 0.75rem;
  --roboto--8px--medium: 0.5rem;
  --roboto--18px--bold: 1.12rem;
  --roboto--16px--bold: 1rem;
  --roboto--90px--bold: 5.62rem;
  --roboto--14px--bold: 0.88rem;
  --roboto--64px--bold: 4rem;
  --roboto--24px--bold: 1.5rem;
  --roboto--12px--bold: 0.75rem;
  --roboto--44px--bold: 2.75rem;
  --roboto--10px--bold: 0.62rem;
  --roboto--32px--bold: 2rem;
  --roboto--8px--bold: 0.5rem;

  /* base size: heading--x-x-x-small (16px) */
  --heading--x-x-x-small: 1rem;
  --heading--x-x-x-small--strong: 1rem;
  --heading--x-x-small: 1.12rem;
  --heading--x-x-small--strong: 1.12rem;
  --heading--x-small: 1.25rem;
  --heading--x-small--strong: 1.25rem;
  --heading--small: 1.5rem;
  --heading--small--strong: 1.5rem;
  --heading--medium: 1.75rem;
  --heading--medium--strong: 1.75rem;
  --heading--large: 2.12rem;
  --heading--large--strong: 2.12rem;
  --heading--x-large---light: 2.5rem;
  --heading--x-large: 2.5rem;
  --heading--x-large--strong: 3rem;
  --label--large: 1.12rem;
  --label--large--strong: 1.12rem;
  --label--medium: 1rem;
  --label--medium--strong: 1rem;
  --label--small: 0.88rem;
  --label--small--strong: 0.88rem;
  --label--small--x-strong: 0.88rem;
  --label--x-small: 0.75rem;
  --label--x-small--strong: 0.75rem;
  --label--x-small--x-strong: 0.75rem;
  --label--x-x-small: 0.62rem;
  --label--x-x-small--strong: 0.62rem;
  --label--x-x-small-x-strong: 0.62rem;
  --paragraph--large: 1.12rem;
  --paragraph--medium: 1rem;
  --paragraph--small: 0.88rem;
  --paragraph--x-small: 0.75rem;
  --display--large: 5.5rem;
  --display--medium: 4.5rem;
  --display--small: 3.5rem;

  /* Effect styles */
  --elevation--x-large: 0px 24px 28px rgba(0, 0, 0, 0.15);
  --elevation--large: 0px 0px 1px rgba(0, 0, 0, 0.04),
    0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
  --elevation--medium: 0px 0px 1px rgba(0, 0, 0, 0.04),
    0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04);
  --elevation--small: 0px 0px 1px rgba(0, 0, 0, 0.04),
    0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);

  /* ALIAS TOKENS */

  /*text*/
  --primary--text: var(--black--600);
  --text--primary: var(--black--500);
  --text--link: rgba(36, 145, 235, 1);
  --menus--label: rgba(168, 166, 166, 1);

  /*pages*/
  --page--background: rgba(243, 243, 243, 1);

  /*buttons*/
  --buttons--primary-resting-bg: rgba(36, 145, 235, 1);
  --buttons--primary-resting-border: rgba(36, 145, 235, 1);
  --buttons--primary-hover-bg: rgba(76, 173, 253, 1);
  --buttons--primary-hover-border: rgba(76, 173, 253, 1);
  --buttons--primary-focus-bg: rgba(28, 129, 212, 1);
  --buttons--primary-focus-border: rgba(28, 129, 212, 1);

  /* SEMANTIC TOKENS */

  /*inputs*/
  --inputs--border-resting: rgba(190, 190, 190, 1);
  --inputs--placeholder: rgba(184, 182, 182, 1);
  --inputs--label-focused: rgba(116, 115, 115, 1);
  --inputs--border-focus: rgba(36, 145, 235, 1);
  --inputs--border-error: rgba(240, 61, 93, 1);
  --inputs--border-success: rgba(15, 181, 117, 1);
  --inputs--border-caution: rgba(230, 111, 0, 1);
  --inputs--hover: rgba(248, 248, 248, 1);

  /*navigation*/
  --nav-link: var(--primary--text);

  /*tables*/
  --table--td_link: 0.88rem;
  --table--th: 0.88rem;
  --table--td: 0.88rem;

  --th-bg-color: var(--gray--400);
  --th-text-size: var(--table--th);
  --td-bg-light: var(--white--600);
  --td-bg-dark: var(--white--400);
  --td-text-size: var(--table--td);
}
